
<div id="Manage">
  <h2 class="title text-center">Data Management</h2>
  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Data Management</li>
  </ol>
  <div class="row manageView">
    <div class="panel panel-default col-xs-4">
      <div class="panel-heading">
        <div class="panel-title">Your Categories</div>
      </div>
      <div data-bind="foreach: Categories" class="panel-body">
        <div class="dropdown panel">
          <div><a data-bind="text: Name, click: function(category) { $root.SelectCategory(category); }" class="clickable col-xs-11"></a><span data-toggle="dropdown" class="category dropdown-toggle"><span class="caret clickable"></span></span>
            <ul role="menu" data-bind="attr: { 'aria-labelledby': 'dropdownMenu' + $index() }" class="dropdown-menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" title="Edit" data-bind="click: function(c) { $root.EditCategory(c); }" class="clickable"><span class="glyphicon glyphicon-pencil"></span> Edit</a><a role="menuitem" tabindex="-1" title="Delete" data-bind="click: function(c) { $root.DeleteCategory(c); }" data-toggle="popover" data-content="Are you sure you want to delete this category?&lt;br /&gt;&lt;button type=&quot;button&quot;, class=&quot;btn btn-default&quot;&gt;Delete&lt;/button&gt;" class="clickable"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-xs-8">
      <div data-bind="text: !!SelectedCategory() ? 'Questions for ' + SelectedCategory().Name() : 'No Category Selected'" class="panel-heading"></div>
      <div class="panel-body table-responsive">
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <td>#</td>
              <td>Value</td>
              <td>Question</td>
              <td>Answer</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody data-bind="foreach: !!SelectedCategory() ? SelectedCategory().Questions : []">
            <tr>
              <td data-bind="text: $index() + 1"></td>
              <td data-bind="text: Value"></td>
              <td data-bind="text: Question"></td>
              <td data-bind="text: Answer"></td>
              <td><a data-bind="click: function(q) { $root.EditQuestion(q); }" title="Edit" class="clickable"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a data-bind="click: function(q) { $root.DeleteQuestion(q); }" title="Delete" class="clickable"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default col-xs-4">
      <div data-bind="text: CategoryEditting() ? 'Edit Category' : 'Add Category', css: { 'edit': $root.CategoryEditting }" class="panel-heading">Add Category</div>
      <div class="panel-body">
        <form data-bind="submit: $root.AddCategory, with: NewCategory" action="#" method="post" class="form">
          <div class="form-group">
            <label for="categoryname">New Category Name</label>
            <input id="categoryname" type="text" placeholder="New Category Name" data-bind="textInput: Name" class="form-control"/>
          </div>
          <button type="submit" data-bind="text: $root.CategoryEditting() ? 'Save' : 'Add', css: { 'btn-danger': $root.CategoryEditting }" class="btn btn-default">Add</button>
          <button type="button" data-bind="click: function() { $root.ClearEditCategory(); }, visible: $root.CategoryEditting" class="btn btn-info">Cancel</button>
        </form>
      </div>
    </div>
    <div class="panel panel-default col-xs-8">
      <div data-bind="text: $root.QuestionEditting() ? 'Edit Question' : 'Add Question', css: { 'edit': $root.QuestionEditting }" class="panel-heading">Add Question</div>
      <div class="panel-body">
        <form data-bind="submit: $root.AddQuestion, with: NewQuestion" action="#" method="post" class="form form-horizontal">
          <div class="form-group">
            <label for="questionvalue" class="form-label col-sm-4">New Question Value</label>
            <div class="col-xs-8">
              <input id="questionvalue" type="number" placeholder="New Value" data-bind="textInput: Value, enable: !!$root.SelectedCategory()" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="questionquestion" class="form-label col-sm-4">New Question Question</label>
            <div class="col-xs-8">
              <input id="questionquestion" type="text" placeholder="New Question" data-bind="textInput: Question, enable: !!$root.SelectedCategory()" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="questionanswer" class="form-label col-sm-4">New Question Answer</label>
            <div class="col-xs-8">
              <input id="questionanswer" type="text" placeholder="New Answer" data-bind="textInput: Answer, enable: !!$root.SelectedCategory()" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
              <button type="submit" data-bind="enable: !!$root.SelectedCategory(), css: { 'btn-danger': $root.QuestionEditting }, text: $root.QuestionEditting() ? 'Save' : 'Add' " class="btn btn-default">Add</button>
              <button type="button" data-bind="click: function() { $root.ClearEditQuestion(); }, visible: $root.QuestionEditting" class="btn btn-info">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>