.screen {
  background-color: black;
  text-align: center;
  height: 120px;
  cursor: pointer;
}
.screen > p {
  text-align: center;
  background-image: -webkit-linear-gradient(top, #2e3dae 0%, #19215e 100%);
  background-image: -o-linear-gradient(top, #2e3dae 0%, #19215e 100%);
  background-image: linear-gradient(to bottom, #2e3dae 0%, #19215e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e3dae', endColorstr='#ff19215e', GradientType=0);
  height: 90%;
  margin: 5px -10px;
}
.screen.categoryHeader > p {
  color: white;
  font-weight: bold;
  font-size: larger;
}
.screen.question > p {
  font-size: 90px;
  color: #e7ba25;
  font-family: Copper;
}
@media (max-width: 767px) {
  .screen {
    height: 75px;
  }
  .screen > p {
    height: 93%;
    margin: 3px -12px;
  }
  .screen.question > p {
    font-size: 55px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .screen {
    height: 85px;
  }
  .screen > p {
    height: 93%;
    margin: 3px -12px;
  }
  .screen.question > p {
    font-size: 63px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .screen {
    height: 100px;
  }
  .screen > p {
    height: 93%;
    margin: 3px -12px;
  }
  .screen.question > p {
    font-size: 75px;
  }
}
.gameboard {
  min-width: 550px;
}
