# ignore all node modules since these can be installed by the developer
node_modules/**/*
Controllers/*.js
public/js/*.js
public/js/sockets/**/*.js
public/js/viewmodels/**/*.js
public/css/*.css
Views/Templates/**/*.html
Modules/*.js
