# ignore all node modules since these can be installed by the developer
node_modules/**/*
Controllers/*.js
public/js/*.js
public/js/sockets/**/*.js
public/js/viewmodels/**/*.js
Views/Templates/**/*.html
Controllers/ApiController.js