div#Index
	h1.text-center Welcome to Jeopardy!
	div
		p.text-center.lead Please select where you would like to go:
		div.well.col-sm-12
			a.btn.btn-primary.col-sm-4(href="#/Game/Setup") Host Jeopardy Game
			a.btn.btn-primary.col-sm-4(href="#/Data/Manage") Manage Questions
			a.btn.btn-primary.col-sm-4(href="#/Contestant/Login") Play As A Contestant
		div
			p Would you like to host Jeopardy! games but you aren't registered? Click 
				a(href="#/Home/Register") here
				|  to register.
