
<div id="Index">
  <h1 class="text-center">Welcome to Jeopardy!</h1>
  <div>
    <p class="text-center lead">Please select where you would like to go:</p>
    <div class="well col-sm-12"><a href="#/Game/Setup" class="btn btn-primary col-sm-4">Host Jeopardy Game</a><a href="#/Data/Manage" class="btn btn-primary col-sm-4">Manage Questions</a><a href="#/Contestant/Login" class="btn btn-primary col-sm-4">Play As A Contestant</a></div>
    <div>
      <p>Would you like to host Jeopardy! games but you aren't registered? Click <a href="#/Home/Register">here</a> to register.</p>
    </div>
  </div>
</div>