
<div id="Register">
  <div class="text-center lead">Please enter your information</div>
  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Register</li>
  </ol>
  <form role="form" action="#/Home/Register" method="post" data-bind="submit: Submit" class="form">
    <input id="valid" type="hidden" name="valid" data-bind="value: Valid"/>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" required="required" placeholder="At least 4 alpha-numeric characters, starting with a letter" pattern="^[a-zA-Z][\w ]{3,}$" data-bind="textInput: Username" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required="required" placeholder="At least 4 alpha-numeric characters" pattern="^\w{4,}$" data-bind="textInput: Password" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <input id="confirm" type="password" name="confirm" required="required" placeholder="At least 4 alpha-numeric characters" pattern="^\w{4,}$" data-bind="textInput: Confirm" class="form-control"/>
    </div>
    <div class="row"><span class="col-sm-1"></span>
      <button type="submit" class="btn btn-primary col-sm-4">Submit</button><span class="col-sm-2"></span><a href="#/" class="btn btn-info col-sm-4">Cancel</a>
    </div>
  </form>
</div>