<!doctype html>
<html>
<head>
	<title>Jeopardy Data Management</title>
	<link rel="stylesheet/less" href="Stylesheets/DataManagement.less" />

	<script type="text/javascript" src="../JS/RequireParameters.js"></script>
	<script type="text/javascript">
		var headers = [];
		var records = [
			{
				id: 0,
				name: 'Name 1'
			},
			{
				id: 1,
				name: 'Name 2'
			}
		];
		for(var key in records[0])
		{
			headers.push(key);
		}
	</script>
	<script type="text/javascript" data-main="Scripts/DataManagement" src="../JS/libs/require.min.js"></script>
	<script type="text/html" id="tableTemplate"></script>
</head>
<body>
	<div class="header">
		<div class="title">
			Data Mangement
		</div>
	</div>

	
	<div class="content" style="display: none;" data-bind="visible: true">
		<!-- Categories Table -->
		<div class="table">
			<div class="thead">
				<div class="tr">
					<div class="th">ID</div>
					<div class="th">Name</div>
				</div>
			</div>
			<div class="tbody" data-bind="foreach: records">
				<div class="td" data-bind="text: ID"></div>
				<div class="td" data-bind="text: Name"></div>
			</div>
		</div>

		<!-- Questions Table -->
		<div class="table">
			<div class="thead">
				<div class="tr">
					<div class="th">ID</div>
					<div class="th">Name</div>
				</div>
			</div>
			<div class="tbody" data-bind="foreach: records">
				<div class="td" data-bind="text: ID"></div>
				<div class="td" data-bind="text: Name"></div>
			</div>
		</div>

		<!-- Category Questions Table -->
		<div class="table">
			<div class="thead">
				<div class="tr">
					<div class="th">ID</div>
					<div class="th">Name</div>
				</div>
			</div>
			<div class="tbody" data-bind="foreach: records">
				<div class="td" data-bind="text: ID"></div>
				<div class="td" data-bind="text: Name"></div>
			</div>
		</div>
	</div>


	<div class="footer">
		
	</div>
</body>
</html>