<!doctype html>
<html>
<head>
	<title>Jeopardy Data Management</title>
	<link rel="stylesheet/less" href="../Stylesheets/Views/DataManagement.less" />
	<link rel="stylesheet" href="../Stylesheets/jquery-ui-1.9.1.custom.min.css" />

	<script type="text/javascript" src="../JS/RequireParameters.js"></script>
	<script type="text/javascript">
		require.paths['DataContext'] = 'DataContexts/DataManagementDataContext';
		require.deps.push('jquery');
		require.deps.push('jqueryui');

		function MakeDraggable()
		{
			$('table').draggable()/*.resizable({
				maxHeight: 250,
				maxWidth: 350,
				minHeight: 150,
				minWidth: 200,
				animate: true
			})*/;
		}
	</script>
	<script type="text/javascript" data-main="Scripts/DataManagement" src="../JS/libs/require.min.js"></script>
	<script type="text/html" id="tableTemplate"></script>
</head>
<body>
	<div class="header">
		<div class="title">
			Data Management
		</div>
	</div>

	
	<div class="content" style="display: none;" data-bind="visible: true, css: { loading: Loading }">
		<div class="controls">
			<a href="" data-bind="click: ExportDB">Export Database</a>
			<a href="" data-bind="click: ImportDB">Import Database</a>
		</div>
		<div class="tables" data-bind="foreach: {data: Tables, afterRender: MakeDraggable}">
			<table>
				<thead>
					<tr>
						<th data-bind="text: Name" colspan="6" class="name"></th>
					</tr>
					<tr>
						<!-- ko foreach: Columns -->
						<th data-bind="text: $data"></span></th>
						<!-- /ko -->
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<!-- ko foreach: Records -->
					<tr>
						<!-- ko foreachkey: { data: $data, items: $parent.Columns } -->
							
						<td >
						<!-- ko if: $parent.IsEditing() && Writable -->
							<input data-bind="value: $data.Data" />
						<!-- /ko -->
						<!-- ko if: !$parent.IsEditing() || !Writable -->
							<span data-bind="text: $data.Data"></span>
						<!-- /ko -->
						</td>
						<!-- /ko -->
						<td>
							<a href="#" data-bind="text: (IsEditing() ? 'Save' : 'Edit'),
														click: function(data, event)
														{
															$root.EditRow($parent, data);
														}"></a>
						</td>
						<td>
							<a href="#" data-bind="click: function(data, event)
														  {
															$root.RemoveRow($parent, data);
														  }">Remove</a>
						</td>
					</tr>
					<!-- /ko -->
					<tr>
						<td colspan="6">
							<a href="" data-bind="click: $root.AddRow">Add Row</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="footer">
		
	</div>
</body>
</html>