div#Game
	h1.title.text-center
		span.title-text Jeopardy!
		span.gradient &nbsp;
	ol.breadcrumb
		li
			a(href="#/") Home
		li
			a(href="#/Game/Setup") Setup
		li.active Play
	div(data-bind!="if: Categories().length <= 0")
		h2.text-center No questions are available for this game.

	div.gameboard(data-bind!="if: Categories().length > 0, visible: true", style="display: none;")
		div.categories.row(data-bind!="foreach: Categories")
			div.screen.categoryHeader.col-xs-2
				p.text-uppercase(data-bind!="text: Name")
		div.questions.row(data-bind!="foreach: Categories")
			div.col-xs-2.column(data-bind!="foreach: Questions")
				div.screen.question(data-bind!="click: function(question) { $root.SelectQuestion(question) }")
					p.money(data-bind!="ifnot: isAnswered")
						span(data-bind!="text: '$' + Value, attr: { title: '$' + Value }")

	//- div(data-bind!="if: SelectedQuestion")
	//- 	div.selected-question.fade.col-xs-7(data-bind!="css: { 'in': SelectedQuestion }")
	//- 		div.bezel
	//- 			div.question(data-bind!="with: SelectedQuestion")
	//- 					p.text-center(data-bind!="text: Question")

	div(data-bind!="if: SelectedQuestion")
		div.modal.fade
			div.modal-dialog
				div.modal-content
					div.modal-body
						div.question(data-bind!="with: SelectedQuestion")
							p.text-center(data-bind!="text: Question")



//- This stuff is for trying to better the css
//- div#Game
//- 	h1.title.text-center
//- 		span.title-text Jeopardy!
//- 		span.gradient &nbsp;
//- 	ol.breadcrumb
//- 		li
//- 			a(href="#/") Home
//- 		li
//- 			a(href="#/Game/Setup") Setup
//- 		li.active Play
//- 	div(data-bind!="if: Categories().length <= 0")
//- 		h2.text-center No questions are available for this game.

//- 	div.gameboard(data-bind!="ifnot: Categories().length <= 0, visible: true", style="display: none;")
//- 		div.categories.row(data-bind!="foreach: Categories")
//- 			div.screen.bordered.col-xs-2
//- 				p.text-uppercase.categoryHeader(data-bind!="text: Name")
//- 		div.questions.row(data-bind!="foreach: Categories")
//- 			div.col-xs-2.column(data-bind!="foreach: Questions")
//- 				div.screen.bordered(data-bind!="click: function(question) { $root.SelectQuestion(question) }")
//- 					p.money.question(data-bind!="ifnot: isAnswered")
//- 						span(data-bind!="text: '$' + Value(), attr: { title: '$' + Value() }")

//- 	div.selected-question.full-screen(data-bind!="if: SelectedQuestion, css: { 'in': SelectedQuestion }")
//- 		div.question(data-bind!="with: SelectedQuestion")
//- 				p(data-bind!="text: Question")
