div#Setup
	h1.title.text-center
		span.title-text Jeopardy!
		span.gradient &nbsp;
	ol.breadcrumb
		li
			a(href="#/") Home
		li.active Setup
	div#options
		form.form.form-horizontal.well(data-bind!="submit: SetupGame", action="#/Game/Setup", method="POST", role="form")
			div.form-group
				div.col-sm-offset-3.col-sm-9
					div.checkbox
						label
							input(type="checkbox", name="OnlineGame", data-bind!="checked: OnlineGame")
							| Online Game
			div.form-group(data-bind!="css: { 'has-error has-feedback': !GameNameValid() }")
				label.control-label.col-sm-3(for="gamename") Game Name:
				div.col-sm-9
					input#gamename.form-control(type="text", name="GameName", required="required", pattern="^[a-zA-Z](\s*[a-zA-Z0-9]){2,}$",
								placeholder="Jeopardy Game", data-bind!="textInput: GameName", autofocus)
					span(data-bind!="css: { 'glyphicon glyphicon-remove form-control-feedback': !GameNameValid() }")
			div.form-group(data-bind!="css: { 'has-error has-feedback': !QuestionCounterValid() }")
				label.control-label.col-sm-3(for="questioncounter") Question Timer Duration:
				div.col-sm-9
					input#questioncounter.form-control(type="number", name="QuestionCounter", required="required", placeholder="10",
								data-bind!="value: QuestionCounter")
					span(data-bind!="css: { 'glyphicon glyphicon-remove form-control-feedback': !QuestionCounterValid() }")
			div.form-group(data-bind!="css: { 'has-error has-feedback': !ContestantCounterValid() }")
				label.control-label.col-sm-3(for="contestantcounter") Contestant Timer Duration:
				div.col-sm-9
					input#contestantcounter.form-control(type="number", name="ContestantCounter", required="required", placeholder="10",
								data-bind="value: ContestantCounter")
					span(data-bind!="css: { 'glyphicon glyphicon-remove form-control-feedback': !ContestantCounterValid() }")
			div.form-group
				div.col-sm-offset-3.col-sm-9
					div.checkbox
						label
							input(type="checkbox", name="HasRequired", data-bind!="checked: HasRequired")
							| Has Required Categories
			div.form-group(data-bind!="if: HasRequired")
				label.control-label.col-sm-3(for="requiredcategories") Select Required Categories:
				div.col-sm-9
					select.form-control#requiredcategories(name="ChosenCategories", data-bind!="options: Categories, selectedOptions: ChosenCategories",
								size="5", multiple="true")
			div.form-group
				div.col-sm-offset-3.col-sm-9
					button.btn.btn-primary.btn-block(type="submit", data-bind!="enable: GameNameValid") Start Game
					