<!doctype html>
<html>
<head>
	<title>Question Answer Window</title>
	<link rel="stylesheet/less" href="/public/Stylesheets/Views/AnswerStyles.less">

	<script type="text/javascript" src="/public/JS/RequireParameters.js"></script>
	<script type="text/javascript" data-main="Scripts/AnswerWindow" src="/public/JS/libs/require.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="title">
			Answer Window
		</div>
		<p>This window will contain the answer to the selected question.  Please hide it from the players' view.</p>
	</div>
	<div class="answer">Answer: <span class="answerText" data-bind="text: Answer, css: { Hidden: IsHidden }"></span></div>
	<div class="console">
		<span name="console" id="console" data-bind="html: Console.Message"></span>
	</div>
</body>
</html>