<!doctype html>
<html>
<head>
	<link rel="stylesheet/less" href="/public/Stylesheets/Views/Jeopardy.less" />
	<script type="text/javascript" src="/public/JS/RequireParameters.js"></script>
	<script type="text/javascript">
		// require.paths['DataContext'] = 'DataContexts/JeopardyDataContext';
	</script>
	<script type="text/javascript" data-main="Scripts/Jeopardy" src="/public/JS/libs/require.min.js"></script>
	<script type="text/html" id="columnTemplate">
		
	</script>
</head>
<body>
	<div class="game">
		<div class="header">
			<div class="title">Jeopardy!</div>
		</div>
		<div class="gameBoard" data-bind="foreach: Categories, visible: Loaded" style="display: none;">
			<div class="gameColumn">
				<div class="categoryHeader">
					<p data-bind="text: Name"></p>
				</div>
				<!-- ko foreach: Questions -->
					<div data-bind="if: !HasBeenSelected(),	click: $root.QuestionSelected" class="money">
					    <p data-bind="text: '$' + Value, visible: !HasBeenSelected()"></p>
					</div>
					<!-- <div data-bind="css: { showAnswer: !!HasBeenSelected() && !HasBeenShown(),
											question: !HasBeenSelected() || !!HasBeenShown() },
											click: $root.QuestionDone" class="question">
						<p data-bind="text: Question"></p>
					</div> -->
				<!-- /ko -->
			</div>
		</div>

		<div data-bind="css: { showAnswer: SelectedQuestion() != undefined }, visible: SelectedQuestion() != undefined, click: QuestionDone">
			<div data-bind="with: SelectedQuestion">
				<p data-bind="text: Question"></p>
			</div>
			<p>Timer: </p>
			<div class="timer" data-bind="text: $root.Count, visible: $root.ShowCount"></div>
		</div>
		<div data-bind="visible: Categories().length <= 0" class="noQuestions">
			No questions have been loaded for this game.
		</div>
	</div>

</body>
</html>