div.timer
	svg.clock(viewBox="0 0 100 100")
		circle.face(cs="50", cy="50", r="45")
		g.hands
			rect.hour(x="48.5", y="12.5", width="5", height="40", rx="2.5")
			rect.min(x="48", y="12.5", width="3", height="40", rx="2", ry="2")
			line.sec(x1="50", y1="50", x2="50", y2="16")
